---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="BeeOps - Interactive Dashboards for Every Context">
  <div class="min-h-screen font-inter">
	<Header></Header>
	<Hero></Hero>
  </div>
</Layout>
